/* FAQ styles */
.faq {
  margin-top: 5rem;
  margin-bottom: 5rem;
  &__item {
    @apply p-4 py-8 bg-[#F9F8F5] h-min gap-4 rounded-[40px] md:rounded-[168px];
  }
  
  &__header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 3rem;
  }
  
  &__title {
    font-size: 2rem;
    font-weight: 700;
    color: #1A1A2E;
    margin-bottom: 1.5rem;
    
    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
  
  &__subtitle {
    font-size: 1.125rem;
    color: #555;
    line-height: 1.6;
  }
  
  &__content {
    // max-width: 800px;
    margin: 0 auto;
  }
  
  &__question {
    @apply px-6 flex justify-between items-center w-full text-left font-semibold cursor-pointer;
    
    &-text {
      @apply pr-8;
    }
    
    &-icon {
      @apply transition-transform duration-300 ease-in-out;
      
      &--open {
        @apply transform rotate-180;
      }
    }
  }
  
  &__answer {
    @apply px-6 text-gray-600;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;

    &--open {
      max-height: 200px;

    
    }
  }
}