---
import Image from 'astro/components/Image.astro'
import logo from '../assets/images/brand.svg'
import logofull from '../assets/images/full-logo.svg'
---

<header class="header">
  <div class="header__container">
    <a href="/" class="header__logo">
      <Image src={logo} alt="Money Transfer Logo" />
    </a>
    
    <nav class="header__nav">
      <a href="#features" class="header__link">Features</a>
      <a href="#pricing" class="header__link">Pricing</a>
      <a href="#business" class="header__link">Business</a>
    </nav>
    
    <div class="header__actions !hidden md:!flex">
      <a href="#login" class="header__link outline px-6 py-1 outline-[#D6D1FA] hover:outline-primary rounded-md">Sign In</a>
      <a href="#signup" class="btn btn--primary btn--sm">Get Started Now</a>
    </div>
    
    <button class="header__mobile-toggle" aria-label="Toggle mobile menu">
      <i class="fas fa-bars text-2xl"></i>
    </button>
  </div>
  
  <div class="header__mobile-menu header__mobile-menu--closed">
    <div class="header__mobile-menu-header">
      <a href="/" class="header__logo logo-full ">
        <Image src={logofull} alt="Money Transfer Logo" />
      </a>
      
      <button class="header__mobile-menu-close" aria-label="Close mobile menu">
        <i class="fas fa-times text-2xl"></i>
      </button>
    </div>
    
    <nav class="header__mobile-menu-nav">
      <a href="#features" class="header__mobile-menu-link">Features</a>
      <a href="#pricing" class="header__mobile-menu-link">Pricing</a>
      <a href="#business" class="header__mobile-menu-link">Business</a>
    </nav>
    
    <div class="header__mobile-menu-actions">
      <a href="#login" class="btn btn--outline w-full mb-4">Sign In</a>
      <a href="#signup" class="btn btn--primary w-full">Get Started Now</a>
    </div>
  </div>
</header>